<h1>What are you doing?</h1>

<%= form_for(@tweet) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %> (should be less than 140 characters)<br>
    <%= f.text_field :content %>
  </div>
  <div id="tweet_error_field" class="hide">Tweet cannot be blank or more than 140 characters</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
