<div class="panel panel-info">
  <div class="panel-heading">
    <div>Email: <%= @user.email %></div>
  </div>
  <div class="panel-body">
    <div class="well">
      <div><%= link_to "View My Profile", @user %></div>
      <div><b>Tweets:</b> <%= @user.tweets.count %></div>  
    </div>
    <div class="well">
      <%= render 'shared/stats' %>
    </div>
  </div>
</div>
<%= render 'users' %>
