<!DOCTYPE html>
<html>
<head>
  <title>Twitterati</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <%= nav_bar :fixed => :top, :brand  => Twitterati, :responsive => true do %>
      <%= menu_group do %>
        <%= menu_item "Home", root_path %>
      <% end %>

      <%= menu_group :pull => :right do %>
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
      <% end %>
    <% end %>
    <div class="col-lg-offset-3 col-lg-5 col-md-offset-3 col-md-5 col-sm-offset-2 col-sm-8 col-xs-12">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>
</body>
</html>
